@import "../../scss/color";


.landing {
    &__video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    &__gradient {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        background: linear-gradient(109.31deg, rgba(0, 0, 0, 0.9) 7.33%, rgba(72, 215, 209, 0.6) 99.41%);
    }

    &__become-mentor {
        position: fixed;
        top: 4.0rem;
        right: 14.0rem;
        padding: 1.8rem 2.6rem;
        background-color: $color-main-purple;
        color: $color-white;
        box-shadow: 0px 18px 60px -12px rgba(141, 92, 246, 0.3);
        border-radius: 5px;
        font-size: 2.4rem;
        line-height: 2.8rem;
        font-weight: 300;

        &:hover {
            color: $color-primary;
        }
    }

    &__content {
        position: fixed;
        top: 13.4rem;
        color: $color-white;
        width: 100%;
        text-align: center;
        font-weight: 800;
        
        &__title {
            font-size: 8rem;
            line-height: 9.8rem;
            letter-spacing: 0.04em;
        }

        &__description {
            font-size: 2.4rem;
            line-height: 2.9rem;
            letter-spacing: 0.04rem;
            max-width: 108.7rem;
            margin: 2.0rem auto 5.6rem;
        }

        &__client-container {
            width: max-content;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 3.2rem;
            gap: 1.2rem;
            font-size: 2.4rem;
            line-height: 2.8rem;
            font-weight: 800;
            letter-spacing: 0.04em;
    
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(20px);
            border-radius: 5px;

            &__start-button {
                width: 25.0rem;
                text-align: center;
                padding: 2.0rem;
                background-color: $color-main-red;
                color: $color-white;
                border-radius: 5px;

                &:hover {
                    color: $color-primary;
                }
            }

            &__image-container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 13.8rem;
                height: 13.8rem;
                border-radius: 50%;
                background-color: $color-white;

                &__image {
                    width: 7.2rem;
                    height: 9.2rem;
                }
            }

            &__got-account {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.8rem;

                &__login-link {
                    color: $color-main-red;
                }
            }
        }
    }
}