@import "../../scss/breakpoints";

.mentor {
  display: flex;
  flex-direction: column;
  max-width: 39.8rem;
  text-align: left;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #15172c;
  }

  @include mobile() {
    max-width: 100%;
  }

  &__image-container {
    max-width: 39.8rem;
    max-height: 50rem;

    @include mobile() {
      max-width: 100%;
      max-height: 50rem;
    }

    &__image {
      max-width: 39.8rem;
      max-height: 50rem;
      object-fit: contain;

      @include mobile() {
        width: 38rem;
        max-height: 100%;
      }
    }
  }

  &__title {
    font-size: 4.8rem;
    line-height: 5.8rem;
    letter-spacing: 0.04em;
    color: #15172c;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    margin-top: 7.6rem;

    @include mobile() {
      font-size: 24px;
      line-height: 32px;
      margin-top: 24px;
    }
  }

  &__category {
    margin-top: 1.9rem;
    font-size: 1.8rem;
    line-height: 2.075rem;
    letter-spacing: 0.04em;
    color: #58595f;
    font-family: GilroyLight;
    font-style: normal;
    font-weight: 300;

    @include mobile() {
      margin-top: 12px;
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__work-in {
    margin-top: 2rem;
    font-size: 18px;
    line-height: 2.075rem;
    letter-spacing: 0.04rem;
    color: #58595f;
    font-family: GilroyLight;
    font-style: normal;
    font-weight: 300;

    @include mobile() {
      margin-top: 18px;
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__bio {
    margin-top: 2rem;
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: 0.04em;
    color: #58595f;
    font-family: GilroyLight;
    font-style: normal;
    font-weight: 300;

    @include mobile() {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
