@import "../../scss/color";

.login-form {
  margin-top: 2rem !important;
  &__form {
    padding: 2rem;
    background-color: #f9fafb;
    border-top: 1rem solid $color-primary;
    box-shadow: 0 0.25rem 0.875rem 0 rgb(0 0 0 / 8%);
    border-radius: 1rem;
    max-width: 400px;
    margin: auto;

    &__error {
      color: red;
      font-size: 1rem;
      margin-top: 1rem;
      font-weight: 500;
    }
  }
}
