.menu-button {
    position: fixed;
    top: 4rem;
    right: 7rem;
    width: 7rem;
    height: 7rem;
    background-color: #15172C;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}