@import "../../scss/breakpoints";

.logo {
    @include mobile(){
        width: 13.8rem;
        height: 3.516rem;
        top: 4.426rem;
        left: 2.4rem;
    }
    position: fixed;
    top: 4rem;
    left: 7.3rem;
    max-width: 15.7rem;
    height: 4rem;
    cursor: pointer;
}