@import "../../scss/breakpoints";

.mentors-page {
    padding: 11rem 27.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile() {
        padding: 12.8rem 2.4rem;
        justify-content: center;
    }

    &__title {
        font-size: 9.6rem;
        line-height: 11.7rem;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 800;
        color: #15172C;

        @include mobile() {
            font-size: 4.8rem;
            line-height: 6rem;
        }
    }

    &__description {
        font-size: 2.4rem;
        line-height: 2.7rem;
        font-family: GilroyLight;
        font-style: normal;
        font-weight: 300;
        color: #58595F;
        letter-spacing: 0.04em;
        max-width: 92rem;
        margin-top: 6.4rem;
        margin-bottom: 16.6rem;

        @include mobile() {
            max-width: 100%;
            margin-top: 3.2rem;
            margin-bottom: 6rem;
            font-size: 1.8rem;
            line-height: 2rem;
        }
    }

    &__list {
        margin-top: 7.4rem;

        @include mobile() {
            margin-top: 6rem;
            left: 0;
        }
    }
}