@import "../../scss/breakpoints";

.select-input {
    position: relative;
    display: flex;
    flex-direction: column;

    &__label {
      text-align: left;
      font-family: Gilroy;
      font-style: normal;
      font-weight: 800;
      font-size: 1.8rem;
      line-height: 4rem;
      letter-spacing: 0.04em;
      margin-left: 3.1rem;
      color: #5DD9F2;
    }

    &__input {
      position: relative;
      width: 100%;
      max-width: 53.6rem;
      height: 7rem;
      padding: 2rem 3.1rem;
      appearance: none;

      @include mobile() {
        max-width: 100%;
      }
  
      font-family: GilroyLight;
      font-style: normal;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 3rem;
      letter-spacing: 0.04em;
      color: #FFFFFF;
      background: #1A1D36;
      border: none;
      box-shadow: 0rem 1.8rem 4rem -1.2rem rgba(0, 0, 0, 0.25);
  
      &::placeholder {
        font-weight: 100;
      }

      &__option {
        padding: 2rem;
      }
    }

    &__carret {
      position: absolute;
      right: 3rem;
      top: 7.5rem;
      width: 1.4rem;
      height: 0.7rem;
    }

    &__error {
      color: red;
      font-weight: 500;
    }
  }
  