@import '../../scss/color';

.landing-client {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__image-container {
        position: relative;
        right: 0;
        bottom: 0;
        min-width: 100vw;
        min-height: 100vh;
        width: 100vw;
        height: 100vh;
        object-fit: contain;

        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__gradient {
            position: absolute;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            background: linear-gradient(109.31deg, rgba(91, 183, 248, 0.9) 7.33%, rgba(93, 242, 236, 0.6) 99.41%);
        }

        &__content {
            position: absolute;
            top: 22.5rem;
            max-width: 137.7rem;
            text-align: left;
            color: $color-white;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            &__title {
                font-size: 9.6rem;
                font-weight: 800;
                line-height: 11.7rem;
            }
    
            &__description {
                margin-top: 10.3rem;
                max-width: 103.1rem;
                font-size: 4.8rem;
                font-weight: 800;
                line-height: 5.9rem;
            }
        }
    }

    &__main-section {
        padding: 16.5rem 27.8rem;

        &__happy-section {
            display: flex;
            flex-direction: row;
            gap: 15.4rem;
            &__image {
                max-width: 53.6rem;
                max-height: 50.7rem;
                object-fit: contain;
            }

            &__description {
                font-weight: 300;
                font-size: 2.4rem;
                line-height: 3rem;
                letter-spacing: 0.04em;
                max-width: 30.4rem;
                color: $color-dark-gray;
                font-family: GiloryLight;
            }
        }

        &__video-container {
            position: relative;
            margin-top: 19.1rem;
            margin-bottom: 14.7rem;

            &__video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__dissatisfied-title {
            font-family: Gilroy;
            font-weight: 800;
            font-size: 6.4rem;
            line-height: 7.8rem;
            color: $color-primary;
            max-width: 78rem;
        }

        &__dissatisfied-description {
            font-weight: 300;
            font-size: 2.4rem;
            line-height: 3rem;
            letter-spacing: 0.04em;
            margin-top: 10rem;
            max-width: 58rem;
            color: $color-dark-gray;
            font-family: GilroyLight;
        }

        &__elon-musk-image-container {
            margin-top: 7.9rem;
            margin-bottom: 22.4rem;
            
            &__image {
                max-width: 65.2rem;
                max-height: 18.5rem;
                object-fit: contain;
            }
        }

        &__invest-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20.5rem;
            margin-bottom: 19.1rem;

            &__text {
                display: flex;
                flex-direction: column;
                gap: 4.1rem;
                text-align: left;
                &__title {
                    font-family: Gilroy;
                    font-size: 6.4rem;
                    line-height: 7.8rem;
                    font-weight: 800;
                }
                &__description {
                    font-weight: 300;
                    font-size: 2.4rem;
                    line-height: 3rem;
                    letter-spacing: 0.04em;
                    margin-top: 10rem;
                    max-width: 58rem;
                    color: $color-dark-gray;
                    font-family: GilroyLight;
                }
            }

            &__image-container {
                position: relative;
                width: 53.6rem;
                height: 67.3rem;
                background: linear-gradient(109.31deg, rgba(91, 183, 248, 0.9) 7.33%, rgba(93, 242, 236, 0.6) 99.41%);

                &__image {
                    width: 53.6rem;
                    height: 67.3rem;
                    object-fit: contain;
                }

                &__gradient {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    min-width: 100%;
                    min-height: 100%;
                    background: linear-gradient(105.72deg, rgba(91, 183, 248, 0) 0%, rgba(93, 242, 236, 0.57) 99.42%);
                }
            }
        }

        &__part-text {
            font-family: Gilroy;
            font-size: 6.4rem;
            line-height: 7.8rem;
            font-weight: 800;
            max-width: 88.9rem;
            text-align: left;
            margin-bottom: 12.7rem;
        }

        &__qa-section {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 15.5rem;
            margin-bottom: 17.4rem;

            &__qa {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
                gap: 4.9rem;
                font-family: Gilroy;
                font-weight: 800;
                font-size: 2.4rem;
                line-height: 4.0rem;
                letter-spacing: 0.04em;
                color: #000000;
                max-width: 63.6rem;
            }

            &__image-container {
                position: relative;
                width: 53.5rem;
                height: 29.3rem;

                &__image {
                    width: 53.5rem;
                height: 29.3rem;

                    object-fit: contain;
                }
            }
        }

        &__begining {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-bottom: 8rem;

            &__text {
                max-width: 53.5rem;
                display: flex;
                flex-direction: column;
                text-align: left;
                gap: 2.2rem;

                &__title {
                    font-family: Gilroy;
                    font-weight: 800;
                    font-style: normal;
                    font-size: 4.8rem;
                    line-height: 5.88rem;
                    letter-spacing: 0.04em;
                    color: #15172C;
                }

                &__description {
                    font-family: GilroyLight;
                    font-weight: 300;
                    font-style: normal;
                    font-size: 2.4rem;
                    line-height: 3rem;
                    letter-spacing: 0.04em;
                    color: #58595F;
                }
            }
        }

        &__proof {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 29.2rem;

            &__text {
                display: flex;
                flex-direction: column;
                gap: 5.2rem;

                &__title {
                    font-family: Gilroy;
                    font-size: 4.8rem;
                    line-height: 5.8rem;
                    font-weight: 800;
                    letter-spacing: 0.04em;
                    color: #15172C;
                }

                &__description {
                    font-family: GilroyLight;
                    font-weight: 300;
                    font-style: normal;
                    font-size: 2.4rem;
                    line-height: 3rem;
                    letter-spacing: 0.04em;
                    color: #58595F;
                }

                &__image-container {
                    position: relative;
                    width: 41.4rem;
                    height: 80rem;
                    box-shadow: 0px 21.1579px 70.5263px -14.1053px rgba(0, 0, 0, 0.25);
                    border-radius: 34px;

                    &__image {
                        width: 41.4rem;
                        height: 80rem;
                        object-fit: contain;
                    }
                }
            }

            &__image-container {
                position: relative;
                width: 53.6rem;
                height: 67.3rem;

                &__image {
                    width: 53.6rem;
                    height: 67.3rem;
                    object-fit: contain;
                }

                &__gradient {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    min-width: 100%;
                    min-height: 100%;
                    background: linear-gradient(105.72deg, rgba(91, 183, 248, 0) 0%, rgba(93, 242, 236, 0.57) 99.42%);
                }
            }
        }

        &__mentors {
            position: relative;
            min-height: 122.1rem;
            min-width: 100%;
    
            &__card {
                position: absolute;
                bottom: 29.5rem;
                left: 0;
                padding: 19rem 19.3rem 19rem 26.2rem;
                background-color: #15172C;
                height: 51.5rem;
                width: 88.3rem;
                z-index: 10;
                
                display: flex;
                flex-direction: column;
                gap: 2rem;

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: #FFFFFF;
                }

                &__mentor {
                    font-family: Gilroy;
                    font-weight: 800;
                    font-size: 1.2rem;
                    line-height: 2rem;
                    letter-spacing: 0.04em;
                    color: #FFFFFF;
                }

                &__title {
                    font-family: Gilroy;
                    font-weight: 800;
                    font-size: 2.4rem;
                    line-height: 4rem;
                    letter-spacing: 0.04em;
                    color: #FFFFFF;
                }

                &__icon {
                    width: 5.8rem;
                }
            }
    
            &__image-container {
                position:absolute;
                bottom: 0;
                right: 0;
                width: 124.4rem;
                height: 108rem;
                z-index: 1;
    
                &__image {
                    width: 124.4rem;
                    height: 108rem;
                    object-fit: contain;
                }
            }
        }
    }
}