@import "../../scss/breakpoints";
@import "../../scss/color";

.footer {
    background-color: $color-blue;
    border-radius: 6.6rem 6.6rem 0rem 0rem;
    padding: 30.6rem 17.8rem 27.8rem;
    margin-top: 17.35rem;
    display: flex;
    flex-direction: row;
    gap: 25rem;
    font-family: Gilroy;
    flex-wrap: wrap;

    &__watermark {
        position: absolute;
        top: -17.35rem;

        @include mobile() {
            margin-bottom: -10rem;
        }
    }

    @include mobile() {
        padding: 12.5rem 2.4rem 15.8rem 2.4rem;
        justify-content: space-between;
        gap:4.5rem;
    }

    &__main-column {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        color: #FFFFFF;
        font-size: 2.4rem;
        line-height: 3rem;
        
        &__title {
            font-family: Gilroy;
            font-weight: 800;
        }

        @include mobile() {
            min-width: 35vw;
        }

        &__sub-column {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-family: GilroyLight;
            font-weight: 300;

            &__link {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    text-decoration-color: #FFFFFF;
                }
            }
        }
    }
}