@import "../../scss/color";

.clients-page {
    &__container {
        padding: 20px 0;
    }
    &__error {
        color: $color-error;
        font-size: 14px;
        padding: 8px;
    }
    &__no-clients {
        padding: 8px;
        width: 100%;
    }
}