@import "../../scss/color";
@import "../../scss/breakpoints";
@import "../../scss/common_styles";

.landing{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy';

    @include above-mobile(){
        height: 80rem;
    }
    
    &__img{
        @include backgroundImage();
    }

    &__header{
        &__logo{
            position: absolute;
            top: 4rem;
            left: 7.3rem;
        }

        @include mobile(){
            display: none;
        }

        &__become-mentor {
            @include cta-button($color-mentors-cta);
            top: 4.0rem;
            right: 14.0rem;
            padding: 1.8rem 2.6rem;

            @include above-mobile(){
                font-size: 1.8rem;
                padding: 1.4rem 2.6rem;
            }
    
            @include mobile() {
                display: none;
            }
        }
    }
    
    &__content {
        position: relative;
        top:13.4rem;
        display: flex;
        flex-direction: column;
        color: $color-white;
        width: 100%;
        font-weight: 800;
        text-align: center;
        justify-content: center;
        align-items: center;

        @include above-mobile(){
            top: 0;
        }

        @include mobile() {
            position: relative;
            top: 6.7rem;

            &__become-mentor {
                background-color: $color-mentors-cta;
                color: $color-white;
                box-shadow: 0rem 1.8rem 6rem -1.2rem rgba(141, 92, 246, 0.3);
                border-radius: 0.5rem;
                font-size: 1.8rem;
                line-height: 2.075rem;
                width: 19.3rem;
                height: 5.9rem;
                font-weight: 300;
                margin-top: 4.7rem;
                padding-top: 1.8rem;

                font-family: 'GilroyLight';
        
                &:hover {
                    color: $color-primary;
                }
            }
        }
        
        &__title {
            font-size: 8rem;
            line-height: 9.8rem;
            letter-spacing: 0.04em;

            @include above-mobile(){
                font-size: 6rem;
                line-height: 6rem;
            }

            @include mobile() {
                margin-top: 1rem;
                width: 34.2rem;
                font-size: 3rem;
                line-height: 3.7rem;
                letter-spacing: 0.04em;
                text-align: center;
                justify-content: center;
            }
        }

        &__description {
            font-size: 2.4rem;
            line-height: 2.9rem;
            max-width: 108.7rem;
            margin: 4.0rem auto 5.6rem;

            @include above-mobile(){
                font-size: 1.8rem;
            }

            @include mobile() {
                font-size: 1.8rem;
                line-height: 2.2rem;
                letter-spacing: 0.04em;
                margin-top: 3.3rem;
                margin-bottom: 3.2rem;
                text-align: center;
            }
        }

        &__client-container {
            width: 39.8rem;
            height: 44.6rem;
            left: 76.1rem;
            top:40.9rem;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.9rem;
            font-size: 2.4rem;
            line-height: 2.8rem;
    
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(0.5rem);
            border-radius: 0.5rem;

            @include above-mobile(){
                font-size: 1.8rem;
                width: 30rem;
                height: 33rem;
            }

            @include mobile() {
                margin: 0 6rem;
                width: 30.5rem;
                height: 37.4rem;
                font-size: 1.8rem;
                line-height: 2.2rem;
                gap: 1.8rem;
            }

            &__image-container {
                display: flex;
                align-items: center;
                justify-content: center;

                @include above-mobile(){
                    width: 11.7rem;
                    height: 11.7rem;
                }

                @include mobile() {
                    width: 11.7rem;
                    height: 11.7rem;
                    gap: 2.5rem;
                }

                &__start-button {
                    width: 25.0rem;
                    height: 7rem;
                    left: 83.4rem;
                    top: 49rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 0.5rem;
                    background-color: $color-main-red;
                    color: $color-white;
                    border-radius: 0.5rem;

                    @include above-mobile(){
                        width: 18rem;
                        height: 5.04rem;
                    }

                    @include mobile(){
                        width: 19.3rem;
                        height: 5.9rem;
                    }
    
                    &:hover {
                        color: $color-primary;
                    }
                }

                &__image {
                    width: 13.8rem;
                    height: 13.8rem;

                    @include above-mobile(){
                        width: 11.7rem;
                        height: 11.7rem;
                    }

                    @include mobile() {
                        width: 11.7rem;
                        height: 11.7rem;
                    }
                }

                &__got-account {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 10rem;

                    &__text{
                        width: 22rem;
                    }

                    &__login-link {
                        display: block;
                        color: $color-main-red;
                        margin-top: 0.85rem;
                    }
                }
            }
        }
    }
}