$responsive-lg: 1920px;
$responsive-md: 1024px;
$responsive-sm: 768px;
$responsive-xs: 742px;
$responsive-xxs: 375px;

$responsive-height: 1080px;
$responsive-modal-width: 1366px;
$responsive-modal-height: 768px;

$responsive-lg-min: $responsive-lg;
//
$responsive-md-max: $responsive-lg - 1px;
$responsive-md-min: $responsive-md;

//
$responsive-sm-max: $responsive-md - 1px;
$responsive-sm-min: $responsive-sm;
//
$responsive-xs-max: $responsive-sm - 1px;
$responsive-xs-min: $responsive-xs;
//
$responsive-xxs-max: $responsive-xs - 1px;
$responsive-xxs-min: $responsive-xxs;

@mixin above-mobile() {
  @media (min-width: $responsive-xs) and (max-width: $responsive-md) {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: $responsive-xs) {
    @content;
  }
}
